/* PAGE PRINCIPAL */

* {
    top: 0;
    left: 0;
}


/* PAGE SQUELETTE */
.container{
    margin-top: 10px;
}
.border {
    border: solid 5px #000;
    text-align: center;
    height: 50px;
   
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    width: 500px;
  
}

.collapse.navbar-collapse.menu-nav{
    width: 1000px;
}

#boutonRecherche{
    margin:none;
    padding:none;
}

/* ////////////  LA DIV NAV    /////////////////////*/

/*backgroud container nav*/
.bg-color {
    background-color: #e76838;
    height: 80px;
    padding: 40px;
  
} 


/* ////////////  LA DIV RECHERCHE    /////////////////////*/

/*La div qui entoure le inpunt et le btn search*/
.form-inline .container-search{
    margin-left: 100px;
    background-color: #e76838;
    width: 660px;
}

/*la largeur du inpunt recherche*/
.form-control.mr-sm-2.input-search{
    width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*button search*/
.form-inline .btn{
   margin-right: 10px;
   margin-bottom: 10px;
   background-color: aliceblue;
   width: 100px;
  

}

.form-inline .btn:hover{
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(2, 20, 36);
    width: 100px;
   
 
 }

/* DIV LOGIN */
.deja_loup{
    margin-right: 10px;
    margin-bottom: 10px;
}

 .hulule{
    margin-bottom: 10px;
    width: 270px;
  
} 

/* PAGE PROFIL_UTILISATEUR*/
/* ////////////////////  MAIN //////////////////*/








/* PAGE ACCUEIL */
.image_centre{
    display: flex;
    margin:5% auto;
    width:50%;
    height: 20em;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.texte_centre{
    margin:auto;
    text-align: center;
    align-self: center;
    align-content: center;
    align-items: center;
}

.btn:focus, .btn:active, button:focus, button:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #image-gallery .modal-footer{
    display: block;
  }
  
  .thumb{
    margin-top: 15px;
    margin-bottom: 15px;
  }

#titre_centre{
    font-size: 2em;
}

/* PAGE INSCRIPTION CHIEN */

#container {
    width: 300px;
    height: 180px;
    padding:20px;

}

#file{
    color: rgb(165, 46, 31);
    width: 300px;
    height: 50px;
}

#image{
    border: solid 5px rgb(198, 198, 204);
    width: 100px;
    height: 100px;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    
}




